.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-items {
    display: flex;
    gap: 20px;
}

.logo {
    text-decoration: none !important;
    color: black
}

.menu-item {
    text-decoration: none !important;
    color: black;

}



