@font-face {
    font-family: Visitor;
    src: url(../fonts/visitor1.ttf);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Visitor;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-items {
    display: flex;
    gap: 20px;
}

.logo {
    text-decoration: none !important;
    color: black;
    font-size: xx-large;
}



